.p-menubar-root-list{
    background-color: rgba(16, 16, 16, 0.735) !important;
    border: solid 1px rgba(16, 16, 16, 0.735) !important;
}
.p-submenu-list{
    background-color: rgba(16, 16, 16, 0.735) !important;
    border: solid 1px rgba(16, 16, 16, 0.735) !important;
}